@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    appearance: none;
}

::-webkit-scrollbar-track{
    width: 50px;
    background-color: rgb(14, 13, 13);
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background:linear-gradient(black,yellow);
}

.header,.carts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    margin: 1rem 5rem;
    background-color: white;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

.bars{
    display: none;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    width:35px;
    gap: 0.5rem;
    position: fixed;
    height:30px;
    background-color:transparent;
   
}

.bars>div{
    transition: all .4s ease-in-out;
    width: 100%;
    height: 4px;
    border-radius: .4rem;
    background-color: rgb(32, 5, 11);
}

.bar > div{
    position: absolute;
}

.bar .bar3{
    width: 0;
}
.bar .bar1{
  transform: rotate(45deg);
}

.bar .bar2{
    transform: rotate(-45deg);
  }

nav{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1rem;
}
nav h1{
    font-size: 2.5rem;
    font-weight: 700;
}

nav ul{
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
ul a{
   
    text-decoration: none;
    color: rgb(160, 151, 151);
}
ul a:hover{
    padding-bottom: 4rem;
    border-bottom: 3px solid orange;
}

ul a:hover{
    color: hsl(26, 100%, 55%);
}
.carts{
   gap: 4.5rem;
   position: relative;
   cursor: pointer;
}


.cart_content{
    font-size: 1.3rem;
    display: none;
    place-items: center;
    color: white;
    background-color: hsl(26, 100%, 55%);
    position: absolute;
    top: .7rem;
    left: 1rem;
    border-radius: 4px;
    width: 15%;
    height: 35%;
}

.carts img{
   
    width: 50px;
}


.display_cart{
    background-color: white;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    top: 5rem;
    right: -4rem;
    display: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
    gap: 1rem;
    transition: all 5.5s ease;
}
.display_cart h1{
    padding: 1rem;
    width: 100%;
    border-bottom:1px solid #eee;
}
.target{
    filter: brightness(100%);
    border: 2px solid orange;
}

.total{
    font-weight: 700;
}
.display_cart button.checkout{
    padding: 12px 10px;
    width: 88%;
    font-size: 1.8rem;
    margin:2rem auto;
    border-radius: 10px;
    border: none;
    background-color:hsl(26, 100%, 55%);
    display: none;
    color: white;
}
.big_img{
    cursor: pointer;
}
.items{
    padding: 0rem 2rem;
    display: none;
    align-items: center;
    justify-content: space-between;
}
.remove{
    display: flex;
}

.empty{
    margin-left: 3rem;
}
.items img{
    border-radius: 8px;
}
.items p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4rem;
}
.carts:hover .display_cart{
display: grid;
right: .3rem;
}

/* hero section */
.hero{
  
    display: grid;
    width: 1100px;
    margin:4rem auto;
    place-items: center;
    grid-template-columns: 1fr 1fr;
   
}

.hero .images{
    gap: 2rem;
    display: grid;
    width: 400px;
    justify-items: center;
}

.lightbox{
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100%;
    display: none;
    place-items: center;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(37, 37, 37, 0.589);
}

.displayIt{
    display: grid;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 11.4%;
    left: 62.5%;
    color: white;
}

.lightbox .play{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: beige;
    cursor: pointer;
}
.lightbox .next{
    top: 42%;
    left: 62.7%;
}

.lightbox .previous{
    top: 42%;
    right: 62.7%;
}

.lightbox .box .images{
    gap: 2rem;
    display: grid;
    width: 400px;
    justify-items: center;
}
.hero .images > img{
    width: 370px;
    height: 400px;
    border-radius: 15px;
}


.lightbox .box .images > img{
    width: 370px;
    height: 400px;
    border-radius: 15px;
}

.lightbox .box .img img{
    width: 70px;
    border-radius: 7px;
    cursor: pointer;
 }

.hero .images .img{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 3rem;
}
.hero .images .img img{
   width: 70px;
   border-radius: 7px;
   cursor: pointer;
}
.hero .images .img img:hover{
filter:blur(3px)
}

.intro{
    width: 400px;
}


.intro >h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
p:first-of-type{
    font-size: 1.4rem;
    color: hsl(26, 100%, 55%);
    margin-top: 0;
    margin-bottom: 0;
}
.intro .pr{
    margin: 2rem auto;
}

.intro .pr h1{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.intro .bottom{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
}
.intro .bottom .amount{
    gap: 1rem;
    width: 160px;
    border-radius: 10px;
    font-size: 2rem;
    background-color: #eee;
    padding: 0rem 1rem;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro .bottom .amount span{
    color:hsl(26, 100%, 55%);
    cursor: pointer;
}
.intro .bottom .amount span:active{
    transform: scale(1.1);
}

.intro .bottom button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color:hsl(26, 100%, 55%);
    color: white;
    gap: 1rem;
    border: none;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    cursor: pointer;
}
.intro .bottom button:active{
    transform: scale(.92);
}
@media(max-width:400px){
    
    nav h1{
       
       font-size: 3.4rem;
       
    } 
}


@media(max-width:700px){
    .bars{
        display: flex;
        left: 3rem;
        z-index: 50;
    }
    .header{
        margin: 0;
        position: fixed;
        left: 0;
        width: 100%;
        top: -0rem;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.185);
    }
    nav h1{
        position: absolute;
        top: -1.5rem;
        left: 10rem;
    }
    nav ul{
        transition: all .5s ease-in;
        backdrop-filter: blur(10px);
        padding: 4rem 0 0rem 0;
        top: -51rem;
        z-index: 40;
        gap: 0.3rem;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: rgba(250, 116, 7, 0.753);

    }

    nav ul.display{
        top: -2rem;
    }
    ul li {
        cursor: pointer;
        position: relative;
        z-index: 3;
        display: grid;
        place-items: center;
        padding: 1.5rem;
        width: 100%;
        background-color: transparent;
    }

    ul a{
        position: relative;
        z-index: 20;
        color: rgb(255, 255, 255);
    }
    ul a:hover{
        color: white;
    }
    ul li:before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgb(37, 151, 226);
        position: absolute;
        top: 0;
        left: -69rem;
        z-index: 1;
        transition: all .3s ease-in;
    }

    ul li:hover:before{
        left: 0rem;
    }
    .hero{
  
        display: grid;
        width: 400px;
        margin:4rem auto;
        place-items: center;
        grid-template-columns: 1fr;
        gap: 5rem;
       
    }
    .lightbox .next{
        left: 84.7%;
    }
    
    .lightbox .previous{
        right: 84.7%;
    }
    .close{
       
        top: 9.4%;
        left: 85.5%;
        color: white;
    }
}

